<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:59:00"
                 openTimeout="00:59:00" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="ChatService" address="net.tcp://localhost:25619/ChatService" binding="netTcpBinding" contract="DOST.Services.IChatService" behaviorConfiguration="endpointBehavior" />
      <endpoint name="CuentaService" address="net.tcp://localhost:25619/CuentaService" binding="netTcpBinding" contract="DOST.Services.ICuentaService" behaviorConfiguration="endpointBehavior"/>
      <endpoint name="PartidaService" address="net.tcp://localhost:25619/PartidaService" binding="netTcpBinding" contract="DOST.Services.IPartidaService" behaviorConfiguration="endpointBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>