<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <client>
          <endpoint address="net.tcp://localhost:25619/ChatService" binding="netTcpBinding" contract="DOST.Services.IChatService" />
      </client>
    </system.serviceModel>
</configuration>