<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" closeTimeout="00:59:00"
                   openTimeout="00:59:00" sendTimeout="10675199.02:48:05.4775807" receiveTimeout="10675199.02:48:05.4775807">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
          <endpoint name="ChatService" address="net.tcp://192.168.1.78:25619/ChatService" binding="netTcpBinding" contract="DOST.Services.IChatService" behaviorConfiguration="endpointBehavior" />
          <endpoint name="AccountService" address="net.tcp://192.168.1.78:25619/AccountService" binding="netTcpBinding" contract="DOST.Services.IAccountService" behaviorConfiguration="endpointBehavior"/>
          <endpoint name="GameService" address="net.tcp://192.168.1.78:25619/GameService" binding="netTcpBinding" contract="DOST.Services.IGameService" behaviorConfiguration="endpointBehavior" />
          <endpoint name="InGameService" address="net.tcp://192.168.1.78:25619/InGameService" binding="netTcpBinding" contract="DOST.Services.IInGameService" behaviorConfiguration="endpointBehavior" />
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="endpointBehavior">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>